.tab_content .section3{
  margin: 0 auto;
  width: 900px;
  display: none;
}
.tab_content .section3 div.child{
  
  text-align: center;
  margin: 50px auto;
}
.tab_content .section3 div.child p{
  line-height: 2;
  font-size: 25px;
}
.tab_content .section3 div.child p:nth-child(1){
  
  color: red;
}
.tab_content .section3 div.child p:nth-child(2){
  
}
.tab_content .section3 div.child p:nth-child(3){
  
  color: blue;
}
.tab_content .section3 div.evenodd{ 
  
  display: flex;
  line-height: 3;
  margin-bottom: 50px; 
}
.tab_content .section3 div.evenodd p{
  
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.tab_content .section3 div.evenodd p:nth-child(odd){
  
  background-color: #8ac3ed;
} 
.tab_content .section3 div.evenodd p:nth-child(even){
  
  background-color: #fff9c8;
}
.tab_content .section3 div.plus{
  margin-bottom: 50px; 
}
.tab_content .section3 div.plus ul{
  
  display: flex;
}
.tab_content .section3 div.plus ul li{
  
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.tab_content .section3 div.plus ul li{
  position: relative;
}
.tab_content .section3 div.plus ul li+li::before{
  content: "|";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  
}
.tab_content .section3 div.selector{
  
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin: 100px auto;
    
}
.tab_content .section3 div.selector button{
  width: 150px;
  height: 50px;
  background-color: navy;
  color: white; 
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
    
}
.tab_content .section3 div.selector button:nth-child(1){
  
}
.tab_content .section3 div.selector button:nth-child(2){
  
}
.tab_content .section3 div.selector button:nth-child(1)::before{
  content: "<";
  position: absolute;
  left: 20px;
  
  
}
.tab_content .section3 div.selector button:nth-child(2)::after{
  content: ">";
  position: absolute;
  right: 20px;
}